<!-- Cart items details -->
<link rel="stylesheet" href="cart.component.css">

<!-- ICONS -->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<h1 class="title-shop">SHOP</h1>

<main class="main bd-grid">

    <article class="card">
        <div class="card__img">
            <img src="https://marks.scene7.com/is/image/marksp/37139_2DIADHAS-419_PROD_1_CHRHEA?wid=1488&hei=1800&fit=fit,1&bgColor=0,0,0,0&op_sharpen=1&resMode=sharp2&fmt=jpg&qlt=85,0" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://mms-images-prod.imgix.net/mms/images/catalog/3a52bc974e22dab11435fb6241b11ce7/styles/175800/catalog_detail_image_large.jpg?ixlib=rails-2.1.4&w=700&h=700&fit=fill&bg=ffffff&dpr=1&q=60&fm=pjpg&auto=compress&trim=auto&trimmd=0" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://cdn.monsieurtshirt.com/images/6161/product_large/t-shirt-homme-velo-frenchy.jpg?1543835177503" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://lh3.googleusercontent.com/GxH2ohgEDiRxAxAmilj_Noc-k-zMCAXPXWsg8BirT34JF3BSAJbumdhc0MqSsciXEy341rA7OYrUWkBqNA=w768-h768-n-o-v1" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://cdn.monsieurtshirt.com/images/6161/product_large/t-shirt-homme-velo-frenchy.jpg?1543835177503" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://lh3.googleusercontent.com/GxH2ohgEDiRxAxAmilj_Noc-k-zMCAXPXWsg8BirT34JF3BSAJbumdhc0MqSsciXEy341rA7OYrUWkBqNA=w768-h768-n-o-v1" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://lh3.googleusercontent.com/GxH2ohgEDiRxAxAmilj_Noc-k-zMCAXPXWsg8BirT34JF3BSAJbumdhc0MqSsciXEy341rA7OYrUWkBqNA=w768-h768-n-o-v1" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>


    <article class="card">
        <div class="card__img">
            <img src="https://lh3.googleusercontent.com/GxH2ohgEDiRxAxAmilj_Noc-k-zMCAXPXWsg8BirT34JF3BSAJbumdhc0MqSsciXEy341rA7OYrUWkBqNA=w768-h768-n-o-v1" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="https://cdn.monsieurtshirt.com/images/6161/product_large/t-shirt-homme-velo-frenchy.jpg?1543835177503" alt="">
        </div>
        <div class="card__name">
            <p>AIR ZOOM PEGASUS</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><i class="far fa-heart"></i></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><i class="fas fa-cart-plus"></i></a>
        </div>
    </article>

    
</main>

        