

<!--header-->
<header>
  <div class="container">
      <div class="row">

          <div class="col-md-4 col-sm-12 col-12 ">
              <div class="btn-group">
                  <button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-bs-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      USD
                  </button>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a href="#" class="dropdown-item">HTG - Gourde</a>
                      <a href="#" class="dropdown-item">Peso - Republica Dominicana</a>
                      <a href="#" class="dropdown-item">Peso - Colombiano</a>
                      <a href="#" class="dropdown-item">Peso - Dominicano</a>
                  </div>
              </div>
          </div>


          <div class="col-md-4 col-12 text-center">
              <h1 (click)="Home()" cursor="pointer" class="my-md-3 site-title text-white">{{title}}</h1>
          </div>

          <div class="col-md-4 col-12 text-center">
              <p class="my-md-4 header-links">
                  <a (click)="Login()"  class="px-2 btn border"> Sign In </a>
                  <a (click)="Create()" class="px-1 btn border"> Create Account </a>
              </p>
          </div>
      </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li (click)="Home()" class="nav-item">
                      <a class="nav-link active" id="home" aria-current="page" >HOME</a>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link" id="features" >FEATURES</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="collection" >COLLECTION</a>
                  </li>
                  <li (click)="Cart()" class="nav-item">
                      <a class="nav-link" id="shop" >SHOP</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="about">ABOUT US</a>
                  </li>
              </ul>
          </div>

          <div class="navbar-nav">
              <li class="nav-item border rounded-circle mx-2 search-icon">
                  <i class="fas fa-search p-2"></i>
              </li>
              <li (click)="GetAllProduct()" class="nav-item border rounded-circle mx-2 basket-icon">
                  <i class="fas fa-shopping-basket p-2"></i>
              </li>
              <li (click)="Perfil()" class="nav-item border rounded-circle mx-2 user-icon">
                  <i  class="fas fa-user p-2"></i>
              </li>
          </div>
          
      </div>
  </nav>
</header>
<!--/header-->



<router-outlet></router-outlet>