
<link rel="stylesheet" href="login.component.css">

<div class="en-tete-form">
    <h1 class="title" >Login to your account</h1>
    <div class="form">
        <input type="text" name="logemail" autocomplete="on" required>
        <label for="userdata" class="label-data" >
            <span class="content-data" >Email</span>
        </label>
    </div>

    <div class="form">
        <input type="password" name="password" autocomplete="on" required>
        <label for="userdata" class="label-data" >
            <span class="content-data" >Password</span>
        </label>
    </div>

    <div>
        <button class="btn-submit" id="log" >Login</button>
    </div>
</div>
