<!-- Card -->
<div>
<div class="card-product">
    <div class="imgBox">
        <img src="https://lh3.googleusercontent.com/GxH2ohgEDiRxAxAmilj_Noc-k-zMCAXPXWsg8BirT34JF3BSAJbumdhc0MqSsciXEy341rA7OYrUWkBqNA=w768-h768-n-o-v1">
    </div>
    <div class="details">
        <div class="textContent">
            <h3>Boot</h3>
            <div class="price">$180</div>
        </div>
        <h4>Colors</h4>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button class="btn-buy">Buy It Now</button>
    </div>

    <div class="description">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <div class="contents">
            <h2>Hat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nesciunt error, id, eaque aut
                quia
                quasi omnis, dignissimos commodi vero eveniet tempore blanditiis molestias voluptatem,
                iusto.</p>
        </div>
    </div>
</div>
</div>
<!--/ Card -->