*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}
.en-tete-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 70%;
    position: relative;
    height: 50px;
    margin-top: 24px;
    overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

#log{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 5%;
    padding-bottom: 5px;
    font-size: 1rem;
}

.btn-submit{
    margin-top: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 0.8rem;
    border: none;
    border-radius: 4px;
}
.btn-submit:hover{
    cursor: pointer;
    background-color:#5fa8d3;
    transition: all 0.3s ease-in-out;
}

.btn-submit:focus{
    overflow: hidden;
    outline: none;
}



.form label::after{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-data{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-data .content-data, 
.form input:valid + .label-data .content-data{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;

}

.form input:focus + .label-data::after, 
.form input:valid + .label-data::after{
    transform: translateX(0%);
}






/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .form{
        width: 20%;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .form{
        width: 20%;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .form{
        width: 70%;
    }
    .title{
        font-size: 2.5rem;
    }
    .content-data{
        font-size: large;
    }
    .btn-submit{
        font-size: 1.8rem;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .form{
        width: 70%;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .form{
        width: 70%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .form{
        width: 70%;
    }
    .title{
        font-size: 1.5rem;
    }
    
  }

  @media (min-width: 200px) and (max-width: 319px) {
    
    .form{
        width: 70%;
    }
    .title{
        font-size: 1.5rem;
    }
    #log{
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 5%;
        padding-bottom: 5px;
        font-size: 1rem;
    }
    
  }